
.super-container{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container{
	display: flex;
	flex: 1;

}

.navbar{

	background-color: black;
	
	 flex: 0 0 12em;

}

.search{

	background-color: #C02942;

}

.search__box{

}

.navbar__title{
	color: grey;
	font-size: 12px;
	padding-top: 10%;
	padding-left: 15%;

}

.main{
	


}


.main-play{
		list-style-image: url('play.gif');
}

.main-discover{
	list-style-image: url('discover.png');
}

.main-activity{
	list-style-image: url('activity.png');

}

.main-topChart{
	list-style-image: url('top_charts.png');
}

.main-newRelease{
	list-style-image: url('new_release.png');
}

.l-navbar__item{

	padding: 5%;
	
}

.navbar__text{
	font-size: 12px;
}

.main__link{
	color: white;
}

.circles{
	



}

.circles__item{
	padding: 5%;
	font-size: 12px;
}

.circles__must{
	list-style-image: url('blue.png');
}
.circles__best{
	list-style-image: url('green.png');
}
.collections{



}

.collections__one{
	list-style-image: url('blue_red.png');
}

.collections__two{
	list-style-image: url('yellow_blue.png');
}

.middle-content{
	display: flex;
	
	flex-direction: column;





}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;

	

}

.sortLinks{
	
	display: flex;
	list-style: none;
	display: inline-block;

}

.l-header{
	
}

.sortLinks__release{
	display: inline-block;

}

.sortLinks__divider{
	display: inline-block;
}

.sortLinks_popularity{
	display: inline-block;
}


.movie-content{
	display: flex;
	flex-flow: row wrap;
}

.l-movie{
	margin: 20px;
}
.movie{

}
.movie__image{
	height: 100px;
	width: 75px;
	
}

.movie__title{
	font-size: 15px;
}

.move__genre{
	font-size: 12px;
}
.movie__time{
	font-size: 12px;
}

.rightBar{

	flex: 0 0 12em;
	background-color: #D5DED9;
	
}

.chat{
	margin: 0;
	background: #A7DBD8;
}

.chat__user{
	margin: 0;
}

.chat__status{

	background-color: #D5DED9;
}


.chat__title{
	font-size: 12px;


}

.chat__list{
	direction: rtl;
}

.chat__socialOne{
	list-style-image: url('chat_green.png');

}
.chat__socialTwo{
	list-style-image: url('chat_red.png');

	
}

.chat__offline{
	list-style-image: url('chat_gray.png');


}
.chat__offline{
	list-style-image: url('chat_gray.png');
	
	
}
.chat__watching{

}

.l-chat__watching{

	margin: 0%;
	font-family: "Courier New",Courier,monospace;
	font-size: 10px;
}