
.super-container{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.container{
	display: flex;
	flex: 1;

}



.navbar{

	background-color: black;
	
	 flex: 0 0 12em;

}

.search{

	background-color: red;

}

.search__box{

}

.navbar__title{
	color: grey;
	font-size: 12px;
	padding-top: 10%;
	padding-left: 15%;

}

.main{
	


}


.main__play{
		list-style-image: url('play.gif');
}

.main__discover{
	list-style-image: url('discover.png');
}

.main__activity{
	list-style-image: url('activity.png');

}

.main__topChart{
	list-style-image: url('top_charts.png');
}

.main__newRelease{
	list-style-image: url('new_release.png');
}

.l-main__item{

	padding: 5%;
	font-size: 12px;



}
.main__link{
	color: white;
}

.circles{
	



}

.circles__item{
	padding: 5%;
	font-size: 12px;
}

.collections{



}

.collections__item{
	padding: 5%;
	font-size: 12px;
}

.middle-content{
	display: flex;
	
	flex-direction: column;


}


.movie-content{
	display: flex;
	flex-flow: row wrap;
}

.l-movie{
	margin: 20px;
}
.movie{

}
.movie__image{
	height: 100px;
	width: 75px;
	
}

.movie__title{
	font-size: 15px;
}

.move__genre{
	font-size: 12px;
}
.movie__time{
	font-size: 12px;
}
.header{
	
	padding: 0;
	margin: 0;
}

.sortLinks{
	

	list-style: none;



}
.sortLinks__release{
	display: inline-block;

}

.sortLinks__divider{
	display: inline-block;
}

.sortLinks_popularity{
	display: inline-block;
}
.chat{

	flex: 0 0 12em;
}

.chat__user{
	background: green;
}

.chat__online{

	background-color: white;
}

.chat__title{
	font-size: 12px;


}
.chat__watching{

}